<!-- Modale projet : villa-annecy - Modifie ici pour mettre à jour la modale partout. -->
<div id="modal1" class="modal">
      <div class="modal-content large">
        <!-- Bouton de fermeture -->
        <button class="close" onclick="closeModal('modal1')" aria-label="Fermer">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M6 6L18 18M6 18L18 6" stroke="black" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>

        <!-- CARROUSEL -->
        <div class="carousel" data-carousel="1">
          <button class="carousel-arrow prev" onclick="changeSlide(-1, 1)">
            <svg viewBox="0 0 24 24">
              <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg>
          </button>

          <img src="photoprojet/6-projet-villa-annecy-2025/3D/1.webp" class="carousel-image c1 active">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/2.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/3.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/4.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/5.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/6.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/7.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/8.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/9.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/10.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/11.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/12.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/13.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/14.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/15.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/16.webp" class="carousel-image c1">
          <img src="photoprojet/6-projet-villa-annecy-2025/3D/17.webp" class="carousel-image c1">

          <button class="carousel-arrow next" onclick="changeSlide(1, 1)">
            <svg viewBox="0 0 24 24">
              <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg>
          </button>
        </div>

        <!-- POINTS CLEFS -->
        <div class="points-clefs">
          <div class="point">2025</div>
          <div class="point">Rénovation</div>
          <div class="point">Résidentiel</div>
          <div class="point">Annecy</div>
        </div>

        <!-- DESCRIPTION -->
        <div class="description">
          <h3>Documents initiaux</h3>
          <p>Les documents initiaux regroupent le diagnostic du bâti existant, les relevés de l’état des lieux, les
            contraintes du terrain ainsi que
            les attentes précises des clients. Ils permettent de bien cerner le potentiel du site, d’identifier les
            enjeux techniques et d’ancrer le
            projet dans une démarche cohérente et sur-mesure dès les premières phases de conception.</p>
        </div>

        <!-- GALERIE DE PLANS -->
        <div class="plans-grid">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/1-Documents initiaux/Tom Maradan - Projet Annecy4.webp"
            onclick="openLightbox1(0)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/1-Documents initiaux/Tom Maradan - Projet Annecy5.webp"
            onclick="openLightbox1(1)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/1-Documents initiaux/Tom Maradan - Projet Annecy6.webp"
            onclick="openLightbox1(2)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/1-Documents initiaux/Tom Maradan - Projet Annecy10.webp"
            onclick="openLightbox1(3)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/1-Documents initiaux/Tom Maradan - Projet Annecy12.webp"
            onclick="openLightbox1(4)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/1-Documents initiaux/Tom Maradan - Projet Annecy13.webp"
            onclick="openLightbox1(5)">
        </div>
        <!-- DESCRIPTION -->
        <div class="description">
          <h3>Étude esthétique & architecturale</h3>
          <p>L’étude esthétique et architecturale explore les lignes, les volumes, les matériaux et les couleurs pour
            définir une ambiance à
            la fois contemporaine et contextuelle. Inspirée des architectures japonaise et scandinave, la composition
            favorise la lumière
            naturelle, les textures authentiques et une relation forte avec le paysage. Le projet vise une atmosphère
            épurée, douce et raffinée.</p>
        </div>

        <!-- GALERIE DE PLANS -->
        <div class="plans-grid">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/2-Étude esthétique & architecturale/Tom Maradan - Projet Annecy15.webp"
            onclick="openLightbox1(6)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/2-Étude esthétique & architecturale/Tom Maradan - Projet Annecy16.webp"
            onclick="openLightbox1(7)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/2-Étude esthétique & architecturale/Tom Maradan - Projet Annecy17.webp"
            onclick="openLightbox1(8)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/2-Étude esthétique & architecturale/Tom Maradan - Projet Annecy18.webp"
            onclick="openLightbox1(9)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/2-Étude esthétique & architecturale/Tom Maradan - Projet Annecy19.webp"
            onclick="openLightbox1(10)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/2-Étude esthétique & architecturale/Tom Maradan - Projet Annecy20.webp"
            onclick="openLightbox1(11)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/2-Étude esthétique & architecturale/Tom Maradan - Projet Annecy25.webp"
            onclick="openLightbox1(12)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/2-Étude esthétique & architecturale/Tom Maradan - Projet Annecy26.webp"
            onclick="openLightbox1(13)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/2-Étude esthétique & architecturale/Tom Maradan - Projet Annecy28.webp"
            onclick="openLightbox1(14)">
        </div>
        <!-- DESCRIPTION -->
        <div class="description">
          <h3>Représentations volumétriques extérieures</h3>
          <p>Ces vues 3D illustrent les intentions d’implantation, de matérialité et d’ambiance du projet. Elles
            montrent comment les différents
            volumes s’inscrivent dans le terrain, et comment les espaces extérieurs – jardin, terrasse, ponton –
            prolongent naturellement
            l’architecture. Le traitement paysager renforce la fluidité entre intérieur et extérieur.</p>
        </div>

        <!-- GALERIE DE PLANS -->
        <div class="plans-grid">
          <img
            src="photoprojet/6-projet-villa-annecy-2025/Rendu/3-Représentations volumétriques extérieures/Tom Maradan - Projet Annecy31.webp"
            onclick="openLightbox1(15)">
          <img
            src="photoprojet/6-projet-villa-annecy-2025/Rendu/3-Représentations volumétriques extérieures/Tom Maradan - Projet Annecy32.webp"
            onclick="openLightbox1(16)">
          <img
            src="photoprojet/6-projet-villa-annecy-2025/Rendu/3-Représentations volumétriques extérieures/Tom Maradan - Projet Annecy33.webp"
            onclick="openLightbox1(17)">
          <img
            src="photoprojet/6-projet-villa-annecy-2025/Rendu/3-Représentations volumétriques extérieures/Tom Maradan - Projet Annecy34.webp"
            onclick="openLightbox1(18)">
          <img
            src="photoprojet/6-projet-villa-annecy-2025/Rendu/3-Représentations volumétriques extérieures/Tom Maradan - Projet Annecy35.webp"
            onclick="openLightbox1(19)">
          <img
            src="photoprojet/6-projet-villa-annecy-2025/Rendu/3-Représentations volumétriques extérieures/Tom Maradan - Projet Annecy36.webp"
            onclick="openLightbox1(20)">
        </div>
        <!-- DESCRIPTION -->
        <div class="description">
          <h3>Aménagement intérieur </h3>
          <p>Présentation claire de la répartition des espaces : zones jour, nuit et techniques. Les plans révèlent une
            organisation fluide,
            pensée pour le confort et la vue sur le lac. Chaque pièce est optimisée selon son usage, avec de belles
            hauteurs sous plafond et des
            connexions cohérentes entre intérieur et extérieur.</p>
        </div>

        <!-- GALERIE DE PLANS -->
        <div class="plans-grid">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/4-Aménagement intérieur /Tom Maradan - Projet Annecy39.webp"
            onclick="openLightbox1(21)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/4-Aménagement intérieur /Tom Maradan - Projet Annecy40.webp"
            onclick="openLightbox1(22)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/4-Aménagement intérieur /Tom Maradan - Projet Annecy41.webp"
            onclick="openLightbox1(23)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/4-Aménagement intérieur /Tom Maradan - Projet Annecy42.webp"
            onclick="openLightbox1(24)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/4-Aménagement intérieur /Tom Maradan - Projet Annecy44.webp"
            onclick="openLightbox1(25)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/4-Aménagement intérieur /Tom Maradan - Projet Annecy45.webp"
            onclick="openLightbox1(26)">
        </div>
        <!-- DESCRIPTION -->
        <div class="description">
          <h3>Carnets de Détails</h3>
          <p>Les carnets de détails décomposent pièce par pièce les choix de revêtements, de mobilier et de luminaires.
            Chaque espace est pensé
            avec cohérence, en tenant compte de l’usage, du confort et de l’esthétique. Les matériaux nobles (bois,
            cuir, pierre), les finitions
            soignées et le mobilier design viennent affirmer l’identité haut de gamme et fonctionnelle de la maison.</p>
        </div>

        <!-- GALERIE DE PLANS -->
        <div class="plans-grid">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/5-Carnets de Détails/Tom Maradan - Projet Annecy47.webp"
            onclick="openLightbox1(27)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/5-Carnets de Détails/Tom Maradan - Projet Annecy48.webp"
            onclick="openLightbox1(28)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/5-Carnets de Détails/Tom Maradan - Projet Annecy49.webp"
            onclick="openLightbox1(29)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/5-Carnets de Détails/Tom Maradan - Projet Annecy51.webp"
            onclick="openLightbox1(30)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/5-Carnets de Détails/Tom Maradan - Projet Annecy52.webp"
            onclick="openLightbox1(31)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/5-Carnets de Détails/Tom Maradan - Projet Annecy53.webp"
            onclick="openLightbox1(32)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/5-Carnets de Détails/Tom Maradan - Projet Annecy57.webp"
            onclick="openLightbox1(33)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/5-Carnets de Détails/Tom Maradan - Projet Annecy59.webp"
            onclick="openLightbox1(34)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/5-Carnets de Détails/Tom Maradan - Projet Annecy61.webp"
            onclick="openLightbox1(35)">
        </div>
        <!-- DESCRIPTION -->
        <div class="description">
          <h3>Étude technique</h3>
          <p>L’étude technique comprend l’ensemble des plans d’exécution : structure, plancher, cloisonnement,
            plomberie, chauffage, VMC,
            électricité et éclairage. Elle assure la faisabilité technique du projet, dans le respect des normes
            actuelles et des exigences de
            performance énergétique (RE2020, chauffage à granulés, planchers techniques isolés…).</p>
        </div>

        <!-- GALERIE DE PLANS -->
        <div class="plans-grid">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy65.webp"
            onclick="openLightbox1(36)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy66.webp"
            onclick="openLightbox1(37)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy67.webp"
            onclick="openLightbox1(38)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy75.webp"
            onclick="openLightbox1(39)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy78.webp"
            onclick="openLightbox1(40)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy79.webp"
            onclick="openLightbox1(41)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy80.webp"
            onclick="openLightbox1(42)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy82.webp"
            onclick="openLightbox1(43)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy83.webp"
            onclick="openLightbox1(44)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy84.webp"
            onclick="openLightbox1(45)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy87.webp"
            onclick="openLightbox1(46)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy88.webp"
            onclick="openLightbox1(47)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy89.webp"
            onclick="openLightbox1(48)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy90.webp"
            onclick="openLightbox1(49)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/6-Étude technique/Tom Maradan - Projet Annecy91.webp"
            onclick="openLightbox1(50)">
        </div>
        <!-- DESCRIPTION -->
        <div class="description">
          <h3>Mobilier sur mesure</h3>
          <p>Mobilier intégré conçu spécialement pour chaque espace : rangements, dressings, bureaux, meubles vasques…
            Les formes et matériaux
            prolongent l’architecture, alliant fonctionnalité, esthétisme et harmonie globale. Chaque élément renforce
            l’identité élégante et
            épurée du projet.</p>
        </div>

        <!-- GALERIE DE PLANS -->
        <div class="plans-grid">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy129.webp"
            onclick="openLightbox1(51)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy130.webp"
            onclick="openLightbox1(52)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy131.webp"
            onclick="openLightbox1(53)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy132.webp"
            onclick="openLightbox1(54)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy133.webp"
            onclick="openLightbox1(55)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy136.webp"
            onclick="openLightbox1(56)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy137.webp"
            onclick="openLightbox1(57)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy138.webp"
            onclick="openLightbox1(58)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy139.webp"
            onclick="openLightbox1(59)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy140.webp"
            onclick="openLightbox1(60)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy141.webp"
            onclick="openLightbox1(61)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy142.webp"
            onclick="openLightbox1(62)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy143.webp"
            onclick="openLightbox1(63)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy144.webp"
            onclick="openLightbox1(64)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy145.webp"
            onclick="openLightbox1(65)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy158.webp"
            onclick="openLightbox1(66)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy159.webp"
            onclick="openLightbox1(67)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/7-Mobilier sur mesure/Tom Maradan - Projet Annecy160.webp"
            onclick="openLightbox1(68)">
        </div>
        <!-- DESCRIPTION -->
        <div class="description">
          <h3>3D</h3>
          <p>Les rendus 3D immersifs permettent de projeter le client dans son futur lieu de vie. Ils valorisent les
            volumes, les matériaux et les
            ambiances lumineuses avec réalisme, en illustrant les choix architecturaux de manière vivante et expressive.
            Ces images servent aussi
            d’outil de communication essentiel tout au long du projet.</p>
        </div>

        <!-- GALERIE DE PLANS -->
        <div class="plans-grid">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy165.webp" onclick="openLightbox1(69)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy166.webp" onclick="openLightbox1(70)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy167.webp" onclick="openLightbox1(71)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy168.webp" onclick="openLightbox1(72)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy170.webp" onclick="openLightbox1(73)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy171.webp" onclick="openLightbox1(74)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy172.webp" onclick="openLightbox1(75)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy173.webp" onclick="openLightbox1(76)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy174.webp" onclick="openLightbox1(77)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy175.webp" onclick="openLightbox1(78)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy176.webp" onclick="openLightbox1(79)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/8-3D/Tom Maradan - Projet Annecy177.webp" onclick="openLightbox1(80)">
        </div>
        <!-- DESCRIPTION -->
        <div class="description">
          <h3>Permis de construire</h3>
          <p>Le dossier de permis de construire rassemble les pièces réglementaires nécessaires à l’obtention des
            autorisations administratives.
            Il comprend les plans, les coupes, les façades et les notices descriptives. Ce document officiel reflète
            l’intention du projet tout
            en respectant les contraintes d’urbanisme locales.</p>
        </div>

        <!-- GALERIE DE PLANS -->
        <div class="plans-grid">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy179.webp"
            onclick="openLightbox1(81)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy180.webp"
            onclick="openLightbox1(82)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy181.webp"
            onclick="openLightbox1(83)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy182.webp"
            onclick="openLightbox1(84)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy183.webp"
            onclick="openLightbox1(85)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy184.webp"
            onclick="openLightbox1(86)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy185.webp"
            onclick="openLightbox1(87)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy186.webp"
            onclick="openLightbox1(88)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy187.webp"
            onclick="openLightbox1(89)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy188.webp"
            onclick="openLightbox1(90)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy189.webp"
            onclick="openLightbox1(91)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy190.webp"
            onclick="openLightbox1(92)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy191.webp"
            onclick="openLightbox1(93)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy192.webp"
            onclick="openLightbox1(94)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy193.webp"
            onclick="openLightbox1(95)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy194.webp"
            onclick="openLightbox1(96)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy195.webp"
            onclick="openLightbox1(97)">
          <img src="photoprojet/6-projet-villa-annecy-2025/Rendu/9-Permis de construire/Tom Maradan - Projet Annecy196.webp"
            onclick="openLightbox1(98)">
        </div>
      </div>
    </div>
